:root {
  --margin-animation: 5vh;
}
@media (width >= 480px) {
  :root {
    --margin-animation: 15vh;
  } 
}

#profile {
	display: flex;
	align-items: center;
	margin-top: var(--margin-animation);
	margin-bottom: 5vh;
	text-align: center;
	animation: sweepaway 1.2s ease-in-out;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-fill-available;
	z-index: -1;
}

section.container {
	animation: backcolor 1.2s ease-in-out;
}

@keyframes backcolor {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes sweepaway {
	0% {
		opacity: 0;
		margin-top: 0;
	}

	100% {
		opacity: 1;
		margin-top: var(--margin-animation);
	}
}